/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/*-----------------------------------------------------BASE-----------------------------------------------------*/  
   
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	height: 100%;
}

body {
	font-family: Arial;
	color: #2B2B2B;
	letter-spacing: 2px;
	background: url('../img/STEM.png') no-repeat;
	background-size: cover;
	background-color: #333;
	margin: 0;
	padding: 0;
}




/*----------------------------------------------------UNIVERSAL---------------------------------------------------*/
/*==FONT==*/
h1, h2 {
	text-shadow: 2px 2px 2px #000;
}

sup {
	font-size: xx-small;
}

/*==HEADER==*/
header {
	height: 150px;
	width: 100%;
	/* position: fixed; */
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(26,88,140,.6);
	display: flex;
	align-items: center;
	padding: 50px;
}

#college-logo {
	height: 114px;
	width: 250px;
	flex: 10%;
	margin-right: 50px;
}

header h1 {
	flex: 80% ;
	color: #F2F2F2;
	font-size: 40px;
}

/*==NAVIGATION MENU==*/
.fly-menu {
	height: 100%;
	width: 300px;
	margin-top: 30px;
	padding-top: 10px;
	padding-left: 20px;
}

.fly-menu li {
	position: relative;
	display: block;
}

.fly-menu li ul {
	position: absolute;
	width: 100%;
	display: none;
}

.fly-menu a {
	display: block;
	width: 100%;
	padding-bottom: 20px;
	color: #FFF;
	font-size: 20px;
	transition: all 0.3s ease;
	text-decoration: none;
	text-align: left;
	margin-top: 5px;
	cursor: pointer;
	outline: none;
}


.fly-menu a:hover {
	display: block;
	color: #FFCF06;
}

.fly-menu a:after {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	background: #F2F2F2;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}

.fly-menu a:hover:after { 
	width: 50%; 
	left: 5px; 
}

.fly-menu li:hover ul {
	display: block;
	transform: translate(250px, -45px);
	border: 1px solid #F2F2F2;
	background-color: #333;
	padding: 5px;
}

.fly-active {
	background-color: rgba(255,255,255,.1);
}

/*----------------------------------------------------HOME PAGE---------------------------------------------------*/
.home-main {
	height: 100%;
	width: auto;
	margin-top: -350px;
	margin-left: 300px;
	color: #F2F2F2;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 25px;
}

.home-main h2 {
	margin-bottom: 10px;
}

/*----------------------------------------------------SEARCH ENGINES PAGE---------------------------------------------------*/
.engines-main {
	height: 100%;
	width: 70%;
	margin-top: -350px;
	margin-left: 400px;
}

.engines-info {
	color: #F2F2F2;
	margin-bottom: 50px;
}

.engines-main a:link {
	color: #FFCF01;
	text-decoration: none;
}

.engines-main a:visited {
	color: #FFCF01;
}

.engines-main a:hover {
	color: #F2F2F2;
}

.engines-main a:active {
	color: #FFCF01;
}

/*----------------------------------------------------SCHOLARSHIP FINDERS PAGE---------------------------------------------------*/
.scholar-main {
	height: 100%;
	width: 70%;
	margin-top: -350px;
	margin-left: 400px;
	color: #F2F2F2;
}

.scholar-info {
	margin-bottom: 50px;
}

.scholar-wrapper {
	line-height: 2;
}

.scholar-main a:link {
	color: #FFCF01;
	text-decoration: none;
}

.scholar-main a:visited {
	color: #FFCF01;
}

.scholar-main a:hover {
	color: #F2F2F2;
}

.scholar-main a:active {
	color: #FFCF01;
}

/*----------------------------------------------------TRANSFER TOOLS PAGE---------------------------------------------------*/
.tools-main {
	height: 100%;
	width: 70%;
	margin-top: -350px;
	margin-left: 400px;
	color: #F2F2F2;
}

.tools-info {
	margin-bottom: 50px;
}

.tools-wrapper {
	line-height: 2;
}

.tools-main a:link {
	color: #FFCF01;
	text-decoration: none;
}

.tools-main a:visited {
	color: #FFCF01;
}

.tools-main a:hover {
	color: #F2F2F2;
}

.tools-main a:active {
	color: #FFCF01;
}


/*----------------------------------------------------ONLINE PAGE---------------------------------------------------*/
.online-main {
	height: 100%;
	width: 70%;
	margin-top: -350px;
	margin-left: 400px;
}

.online-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #F2F2F2;
	line-height: 2;
	height: 250px;
	margin-bottom: 50px;
}

.online-tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #105A96;
}

.online-tab button {
	background-color: inherit;
	color: #F2F2F2;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.online-tab button:hover {
	background-color: #FFCF06;
	color: #333;
}

.online-tab button.active {
	background-color: #FFCF06;
	color: #333;
}

.online-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.tabcontent1 {
	display: none;
	width: 100%;
	padding-left: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	border: 1px solid #ccc;
	border-top: none;
	color: #333;
	background-color: #F2F2F2;
}

.online-school {
	padding-bottom: 50px;
}

.indent {
	text-indent: 30px;
	font-style: italic;
}



/*----------------------------------------------------AGREEMENT TYPES PAGE---------------------------------------------------*/
.types-main {
	height: 100%;
	width: 70%;
	margin-top: -350px;
	margin-left: 400px;
}

.types-info {
	color: #F2F2F2;
	line-height: 2;
}

.types-font {
	font-weight: 200;
}


/*----------------------------------------------------DUAL/GUARANTEED PAGE---------------------------------------------------*/
.dual-main {
	height: 100%;
	width: 70%;
	margin-top: -350px;
	margin-left: 400px;
	display: flex;
	flex-direction: column;
}

.dual-wrapper a:link {
	color: #FFCF06;
	text-decoration: none;
}

.dual-wrapper a:visited {
	color: #FFCF06;	
}

.dual-wrapper a:hover {
	color: #333;	
}

.dual-wrapper a:active {
	color: #333;	
}

.dual-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #F2F2F2;
	line-height: 2;
	height: 150px;
	margin-bottom: 50px;
}

.dual-tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #105A96;
}

.dual-tab button {
	background-color: inherit;
	color: #F2F2F2;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.dual-tab button:hover {
	background-color: #FFCF06;
	color: #333;
}

.dual-tab button.active {
	background-color: #FFCF06;
	color: #333;
}

.dual-wrapper {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.tabcontent2 {
	display: none;
	width: 100%;
	height: 100%;
	padding: 5px;
	color: #F2F2F2;
}

.tab-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
	height: auto;
	padding-bottom: 50px;
}

.dual-school {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #105A96;
	width: 250px;
	height: 150px;
	margin-top: 20px;
	margin-bottom: 5px;
	padding-left: 10px;
}

.dual-school ul {
	list-style-position: inside;
	list-style-type: none;
}


/*----------------------------------------------------FACT SHEETS PAGE---------------------------------------------------*/
.fact-main {
	height: 100%;
	width: 70%;
	margin-top: -350px;
	margin-left: 400px;
}

.fact-info {
	color: #F2F2F2;
	line-height: 2;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 50px;
}

.fact-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	height: 350px;
}

.factCol1, .factCol2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.fact-list a:link {
	color: #FFCF06;
	text-decoration: none;
}

.fact-list a:visited {
	color: #FFCF06;	
}

.fact-list a:hover {
	color: #F2F2F2;	
}

.fact-list a:active {
	color: #333;	
}

.fact-list p {
	font-size: 18px;
}

/*----------------------------------------------------PROGRAM-TO-PROGRAM PAGE---------------------------------------------------*/
.p2p-main {
	height: 100%;
	width: 70%;
	margin-top: -350px;
	margin-left: 400px;
	padding-bottom: 100px;
}


.p2p-info {
	color: #F2F2F2;
	line-height: 2;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 50px;
}

.p2p-tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #105A96;
}

.p2p-tab button {
	background-color: inherit;
	color: #F2F2F2;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.p2p-tab button:hover {
	background-color: #FFCF06;
	color: #333;
}

.p2p-tab button.active {
	background-color: #FFCF06;
	color: #333;
}

.p2p-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.tabcontent3 {
	display: none;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	border: 1px solid #ccc;
	border-top: none;
	color: #333;
	background-color: #F2F2F2;
}

.p2p-school {
	padding-bottom: 50px;
}

.p2p-main a:link {
	color: #1571BD;
	text-decoration: none;
}

.p2p-main a:visited {
	color: #1571BD;
}

.p2p-main a:hover {
	color: #373534;
}

.p2p-main a:active {
	color: #1571BD;
}

#statep2p {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#statep2p p {
	line-height: 2; 
}

.indent2 {
	text-indent: 30px;
}

/*----------------------------------------------------SHARED PAGE---------------------------------------------------*/
.shared-main {
	height: 100%;
	width: 70%;
	margin-top: -350px;
	margin-left: 400px;
	display: flex;
	flex-direction: column;
}

.shared-info {
	color: #F2F2F2;
	line-height: 2;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 50px;
}

.shared-chart {
	font-size: 20px;
	margin-bottom: 50px;
}

.shared-chart2 {
	font-size: 20px;
	margin-bottom: 50px;
}

.shared-chart tr:nth-child(odd) {
	background-color: #105A96;
	color: #F2F2F2;
}

.shared-chart2 tr:nth-child(odd) {
	background-color: #105A96;
	color: #F2F2F2;
}


.shared-chart tr:nth-child(even) {
	background-color: #FFCF06;
	color: #333;
}

.shared-chart2 tr:nth-child(even) {
	background-color: #FFCF06;
	color: #333;
}

.shared-chart th, td {
	padding: 15px;
}

.shared-chart2 th, td {
	padding: 15px;
}

.shared-chart th {
	text-transform: uppercase;
}

.shared-chart2 th {
	text-transform: uppercase;
}

.shared-content {
	display: none;
}

.shared-content2 {
	display: none;
}

.shared-content.is-visible {
	display: block;
}

.shared-content2.is-visible {
	display: block;
}

.shared-main a {
	margin-bottom: 25px;
}

.shared-main a:link, a:visited {
	background-color: #105A96;
	color: #F2F2F2;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
}

.shared-main a:hover, a:active {
	background-color: #0C4370;
}

/*----------------------------------------------------ON-CAMPUS EVENTS PAGE---------------------------------------------------*/
.campevents-main {
	height: 100%;
	width: 70%;
	margin-top: -350px;
	margin-left: 400px;
	color: #F2F2F2;
}

.campevents-info {
	margin-bottom: 50px;
}

.visitscal {
	border: none;
	height: 500px;
	width: 100%;
	
}

/* .campevents-info { */
	/* margin-bottom: 50px; */
/* } */

/* .campevents-wrapper { */
	/* line-height: 2; */
/* } */

/* .campevents-main a:link { */
	/* color: #FFCF01; */
	/* text-decoration: none; */
/* } */

/* .campevents-main a:visited { */
	/* color: #FFCF01; */
/* } */

/* .campevents-main a:hover { */
	/* color: #F2F2F2; */
/* } */

/* .campevents-main a:active { */
	/* color: #FFCF01; */
/* } */


/*----------------------------------------------------GEN EDS PAGE---------------------------------------------------*/
.geneds-main {
	height: 100%;
	width: 70%;
	margin-top: -350px;
	margin-left: 400px;
}

.geneds-info {
	color: #F2F2F2;
	line-height: 2;
	margin-bottom: 50px;
}

.geneds-wrapper {
	display: flex;
	justify-content: space-around;
	line-height: 3;
}

.geneds-main a:link {
	color: #FFCF01;
	text-decoration: none;
}

.geneds-main a:visited {
	color: #FFCF01;
}

.geneds-main a:hover {
	color: #F2F2F2;
}

.geneds-main a:active {
	color: #FFCF01;
}

.gened-heading {
	color: #F2F2F2;
	text-decoration: underline;
}

.indent3 {
	text-indent: 40px;
}

/*----------------------------------------------------NURSING PAGE---------------------------------------------------*/
.nursing-main {
	height: 100%;
	width: 70%;
	margin-top: -350px;
	margin-left: 400px;
	color: #F2F2F2;	
}

.nursing-wrapper {
	padding-bottom: 50px;
}

.nursing-info {
	margin-bottom: 25px;
}

.nurs-row1 {
	display: flex;
	justify-content: space-around;
	border: 1px solid #F2F2F2;
	background-color: rgba(0,0,0,.2);
	padding: 20px;
	margin-bottom: 50px;
}

.nurs-row2 {
	display: flex;
	justify-content: space-around;
	border: 1px solid #F2F2F2;
	background-color: rgba(0,0,0,.2);
	line-height: 2.5;
	padding: 20px;
}

.nursing-main a:link {
	color: #FFCF01;
	text-decoration: none;
}

.nursing-main a:visited {
	color: #FFCF01;
}

.nursing-main a:hover {
	color: #F2F2F2;
}

.nursing-main a:active {
	color: #FFCF01;
}

.indent4 {
	text-indent: 40px;
}

/*----------------------------------------------------TRANSFER PREP PAGE---------------------------------------------------*/
.prep-main {
	height: 100%;
	width: 70%;
	margin-top: -350px;
	margin-left: 400px;
	color: #F2F2F2;		
}

.prep-info {
	margin-bottom: 50px;
}

.prep-wrapper {
	display: flex;
	flex-direction: column;
}

.prep-group {
	margin-bottom: 10px;
}

.prep-wrapper button {
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 17px;
	color: #FFCF06;
}

.prep-collapsible {
	background-color: #105A96;
	color: #F2F2F2;
	cursor: pointer;
	padding: 18px;
	width: 46%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.prep-active, .prep-collapsible:hover {
	background-color: #0C4370;
}

.pc-content {
	width: 46%;
	padding: 10px 18px;
	display: none;
	overflow: hidden;
	background-color: rgba(0,0,0,.25);
	color: #F2F2F2;
}

.prep-main a:link {
	color: #FFCF01;
	text-decoration: none;
}

.prep-main a:visited {
	color: #FFCF01;
}

.prep-main a:hover {
	color: #F2F2F2;
}

.prep-main a:active {
	color: #FFCF01;
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

