/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/*-----------------------------------------------------BASE-----------------------------------------------------*/  
   
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	height: 100%;
}

body {
	font-family: Arial;
	color: #2B2B2B;
	letter-spacing: 2px;
	background: url('../img/STEM.png') no-repeat;
	background-size: cover;
	background-color: #333;
	margin: 0;
	padding: 0;
	width: 100%;
}




/*----------------------------------------------------UNIVERSAL---------------------------------------------------*/
/*==FONT==*/
h1, h2 {
	text-shadow: 2px 2px 2px #000;
}

sup {
	font-size: xx-small;
}

/*==HEADER==*/
header {
	top: 0;
	margin-left: 325px;
	/* padding: 10px 16px; */
	background-color: rgba(16,90,150,0.4);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

header h1 {
	color: #F2F2F2;
	font-size: 35px;
}

.submit {
	padding: 10px;
	background-color: #FFCF06;
	color: #105A96;
	font-weight: bold;
	border-radius: 20px;
	border: none;
	outline: none;
	box-shadow: 0 9px #3A3A3A;
	cursor: pointer;
}

.submit:hover {background-color: #B89404}

.submit:active {
  background-color: #B89404;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*==NAVIGATION MENU==*/
.sidenav {
	height: 100%;
	width: 325px;
	position: fixed;
	/* z-index: 1; */
	top: 0; 
	overflow-x: hidden;
	background-color: rgba(16,90,150,0.4);
	line-height: 1.8;
	padding-top: 15px;
}

.sidenav a {
	padding: 5px 8px;
	text-decoration: none;
	font-size: 16px;
	color: #FFF;
	display: block;
}

.sidenav a:hover {
	color: #FFCF06;
}

.sidenav h4 {
	padding: 5px 8px;
	color: #FFF;
	/* font-style: italic; */
	/* text-decoration: underline; */
	text-transform: uppercase;
	font-weight: normal;
}

.nav-head {
	text-indent: 25px;
}

.active {
	color: #FFCF06;
	font-weight: bold;
}

#college-logo {
	height: 80px;
	width: 175px;
	margin-bottom: 40px;
	margin-right: 10px;
	margin-left: 10px;
}

/*==CONTENT WINDOW==*/
.main {
	margin-left: 325px;
	padding: 30px;
	height: 100%;
	width: auto;
	color: #FFF;
}

.page-title {
	text-align: center;
	margin-bottom: 50px;
}

/*==PRINT BUTTON==*/
.print {
	width: 100px;
	padding: 5px;
	background-color: #FFCF06;
	color: #105A96;
	font-weight: bold;
	border-radius: 20px;
	border: none;
	outline: none;
	box-shadow: 0 9px #3A3A3A;
	cursor: pointer;
	margin-bottom: 25px;
}

/*----------------------------------------------------HOME PAGE---------------------------------------------------*/
.home-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*----------------------------------------------------SEARCH ENGINES PAGE---------------------------------------------------*/
.engines-wrapper a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}

.engines-wrapper a:hover {
	color: #FFCF06;
	text-decoration: none;
}

/*----------------------------------------------------SCHOLARSHIP FINDERS PAGE---------------------------------------------------*/
.scholar-wrapper a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}

.scholar-wrapper a:hover {
	color: #FFCF06;
}

/*----------------------------------------------------TRANSFER TOOLS PAGE---------------------------------------------------*/
.tools-wrapper a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}

.tools-wrapper a:hover {
	color: #FFCF06;
}


/*----------------------------------------------------ONLINE PAGE---------------------------------------------------*/
.page-title2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 60px;
	height: 200px;
}

.page-title2 h2 {
	text-align: center;
}

.online-tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #105A96;
}

.online-tab button {
	background-color: inherit;
	color: #fff;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

.online-tab button:hover {
	background-color: #FFCF06;
	color: #333;
}

.online-tab button.active {
	background-color: #FFCF06;
	color: #333;
}

.online-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.tabcontent1 {
	display: none;
	width: 100%;
	padding-left: 40px;
	padding-top: 40px;
	padding-bottom: 50px;
	border: 1px solid #ccc;
	border-top: none;
	color: #333;
	background-color: #fff;
}

.online-school {
	padding-bottom: 50px;
}

.online-indent {
	text-indent: 30px;
	font-style: italic;
}

/*----------------------------------------------------DUAL/GUARANTEED PAGE---------------------------------------------------*/
.page-title3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 60px;
	height: 230px;
}

.page-title3 h2 {
	text-align: center;
}

#dual-button {
	width: 200px;
	padding: 10px;
	background-color: transparent;
	color: #FFF;
	outline: 2px solid #FFF;
	outline-style: inset;
	font-style: italic; 
}

#dual-button:hover {
	background-color: #FFCF06;
	color: #333;
}

.modal1 {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal1-content {
	background-color: #FFF;
	color: #000;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	line-height: 2;
	width: 80%;
}

.close1 {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close1:hover,
.close1:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.dual-wrapper a {
	color: #FFCF06;
	text-decoration: none;
}

.dual-wrapper a:hover {
	color: #333;	
}

.dual-tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #105A96;
}

.dual-tab button {
	background-color: inherit;
	color: #fff;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.dual-tab button:hover {
	background-color: #FFCF06;
	color: #333;
}

.dual-tab button.active {
	background-color: #FFCF06;
	color: #333;
}

.dual-wrapper {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.tabcontent2 {
	display: none;
	width: 100%;
	height: 100%;
	padding: 5px;
	color: #fff;
}

.tab-wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
	height: auto;
	padding-bottom: 50px;
}

.dual-school {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #105A96;
	width: 250px;
	height: 150px;
	margin-top: 20px;
	margin-bottom: 5px;
	padding-left: 10px;
}

.dual-school ul {
	list-style-position: inside;
	list-style-type: none;
}


/*----------------------------------------------------INTENT TO ENROLL FORMS PAGE---------------------------------------------------*/
.ITE-wrapper {
	display: flex;
	justify-content: space-around;
	line-height: 2.3;
}

.ITE-wrapper a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}

.ITE-wrapper a:hover {
	color: #FFCF06;
}

/*----------------------------------------------------PROGRAM-TO-PROGRAM PAGE---------------------------------------------------*/
.page-title4 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 60px;
	height: 250px;
}

.page-title4 h2 {
	text-align: center;
}

.p2p-tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #105A96;
}

.p2p-tab button {
	background-color: inherit;
	color: #fff;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.p2p-tab button:hover {
	background-color: #FFCF06;
	color: #333;
}

.p2p-tab button.active {
	background-color: #FFCF06;
	color: #333;
}

.p2p-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.p2p-wrapper a {
	color: #105A96;
	text-decoration: none;
	font-weight: bold;
}

.p2p-wrapper a:visited {
	color: #105A96;
}

.p2p-wrapper a:hover {
	color: #FFCF06;
}

.tabcontent3 {
	display: none;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	border: 1px solid #ccc;
	border-top: none;
	color: #333;
	background-color: #fff;
}

.p2p-school {
	padding-bottom: 50px;
}

#statep2p {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

#statep2p p {
	line-height: 2; 
}

.indent2 {
	text-indent: 30px;
}

/*----------------------------------------------------SHARED PAGE---------------------------------------------------*/
.shared-wrapper {
	display: flex;
	flex-direction: column;
}

.shared-toggle,
.shared-toggle2 {
	background-color: #105A96;
	color: #fff;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
}

.shared-toggle {
	margin-bottom: 15px;
}

.shared-chart {
	font-size: 18px;
	margin-bottom: 50px;
}

.shared-chart2 {
	font-size: 18px;
	margin-bottom: 50px;
}

.shared-chart tr:nth-child(odd) {
	color: #fff;
}

.shared-chart2 tr:nth-child(odd) {
	color: #fff;
}


.shared-chart tr:nth-child(even) {
	color: #fff;
}

.shared-chart2 tr:nth-child(even) {
	color: #fff;
}

.shared-chart th, td {
	padding: 18px;
}

.shared-chart2 th, td {
	padding: 18px;
}

.shared-chart th {
	text-transform: uppercase;
}

.shared-chart2 th {
	text-transform: uppercase;
}

.shared-content {
	display: none;
}

.shared-content2 {
	display: none;
}

.shared-content.is-visible {
	display: block;
}

.shared-content2.is-visible {
	display: block;
}

/*----------------------------------------------------ON-CAMPUS EVENTS PAGE---------------------------------------------------*/

.visitscal {
	border: none;
	height: 550px;
	width: 100%;
}


/*----------------------------------------------------GEN EDS PAGE---------------------------------------------------*/
.page-title5 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 60px;
	height: 100px;
}


.geneds-wrapper {
	display: flex;
	justify-content: space-around;
	line-height: 3;
}

.geneds-wrapper a {
	color: #FFCF01;
	text-decoration: none;
}

.geneds-wrapper a:hover {
	color: #fff;
}


.gened-heading {
	color: #fff;
	text-decoration: underline;
}

.indent3 {
	text-indent: 40px;
}

/*----------------------------------------------------NURSING PAGE---------------------------------------------------*/

.nursing-wrapper {
	padding-bottom: 50px;
}

.nurs-row1 {
	display: flex;
	justify-content: space-around;
	border: 1px solid #fff;
	background-color: rgba(0,0,0,.2);
	padding: 20px;
	margin-bottom: 50px;
}

.nurs-row2 {
	display: flex;
	justify-content: space-around;
	border: 1px solid #fff;
	background-color: rgba(0,0,0,.2);
	line-height: 2.5;
	padding: 20px;
}

.nursing-wrapper a {
	color: #FFCF01;
	text-decoration: none;
}

.nursing-wrapper a:hover {
	color: #fff;
}

.indent4 {
	text-indent: 40px;
}

/*----------------------------------------------------TRANSFER PREP PAGE---------------------------------------------------*/
.prep-wrapper {
	display: flex;
	flex-direction: column;
}

.prep-group {
	margin-bottom: 10px;
}

.prep-wrapper button {
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 17px;
	color: #FFCF06;
}

.prep-collapsible {
	background-color: #105A96;
	color: #fff;
	cursor: pointer;
	padding: 18px;
	width: 46%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.prep-active, .prep-collapsible:hover {
	background-color: #0C4370;
}

.pc-content {
	width: 46%;
	padding: 10px 18px;
	display: none;
	overflow: hidden;
	background-color: rgba(0,0,0,.25);
	color: #fff;
}

.prep-wrapper a {
	color: #FFCF01;
	text-decoration: none;
}

.prep-wrapper a:hover {
	color: #fff;
}

/*----------------------------------------------------TRANSFER TRAINING PAGE---------------------------------------------------*/




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

